<!DOCTYPE html>
<html>

<body>
    {include file="common/topmanager"} {include file="common/leftmanager"}
    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Breadcrumb -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li class="active">控制面板</li>
            </ul>
        </div>
        <!-- /Page Breadcrumb -->

        <!-- Page Body -->
        <div class="page-body">
            <div style="text-align: center; line-height: 1000%; font-size: 24px;">
                <h1>药物管理系统</h1>
                <h2>小组成员：17052246余易达</h2>
                <h2>17052247张景廉</h2>
                <h2>17052244叶家明</h2>
                <h2>17052236许志豪</h2>
                <h2>17052240杨婷婷</h2>
                <h2>指导老师：何秀</h2>
            </div>
        </div>
    </div>
    <!-- /Page Body -->

    <!-- /Page Content -->
</body>

</html>